@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .container{
        @apply max-w-[1320px] mx-auto;
    }

    .padding-container {
        @apply px-4 lg:px-20 py-8 md:py-12;
    }

    .flexCenter {
        @apply flex items-center justify-center;
    }

    .flexBetween {
        @apply flex items-center justify-between;
    }

    .flexStart {
        @apply flex items-center justify-start;
    }

    .flexEnd {
        @apply flex items-center justify-end;
    }
  

    .regular-40 {
        @apply text-[40px] font-[400];
    }

    .regular-32 {
        @apply text-[32px] font-[400];
    }

    .regular-24 {
        @apply text-[24px] font-[400];
    }

    .regular-20 {
        @apply text-[20px] font-[400];
    }

    .regular-18 {
        @apply text-[18px] font-[400];
    }

    .regular-16 {
        @apply text-[16px] font-[400];
    }

    .regular-14 {
        @apply text-[14px] font-[400];
    }
    .regular-12 {
        @apply text-[12px] font-[400];
    }
    .regular-10 {
        @apply text-[10px] font-[400];
    }
    .regular-8 {
        @apply text-[8px] font-[400];
    }

    .medium-14 {
        @apply text-[14px] font-[600];
    }
    .bold-80 {
        @apply text-[80px] font-[700];
    }
    .bold-64 {
        @apply text-[64px] font-[700];
    }
    .bold-52 {
        @apply text-[52px] font-[700];
    }
    .bold-40 {
        @apply text-[40px] font-[700];
    }

    .bold-32 {
        @apply text-[32px] font-[700];
    }

    .bold-28 {
        @apply text-[28px] font-[700];
    }
    .bold-24 {
        @apply text-[24px] font-[700];
    }
  
    .bold-20 {
        @apply text-[20px] font-[700];
    }

    .bold-18 {
        @apply text-[18px] font-[700];
    }

    .bold-16 {
        @apply text-[16px] font-[700];
    }
    .bold-14 {
        @apply text-[14px] font-[700];
    }
    .bold-12 {
        @apply text-[12px] font-[700];
    }
    .bold-10 {
        @apply text-[10px] font-[700];
    }
}

.rotate-first {
    --tw-rotate: -4deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); 
}
.rotate-second {
    --tw-rotate: 4deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); 
}


.marquee span {
    line-height: 140px;
    animation: marquee 8s linear infinite;
}

.marquee1 span {
    line-height: 140px;
    animation: marquee1 10s linear infinite;
}
.arrival-animate{
    animation: movearrivaltext 2s linear infinite;
}

@keyframes movearrivaltext {
    0% {
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-2%, 8%);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-150%, 0);
    }
}
@keyframes marquee1 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-350%, 0);
    }
}

.text{
    font-size: 16px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .text{
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    .text{
        font-size: 20px;
    }
}
.sidebar{
    padding-left: 20px;
}
.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.sidebar ul li i{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height:50px;
    font-size: 1.5rem;
    transition: 0.5s;
}
.sidebar ul li:hover .text,.sidebar ul li:hover i{
    color: #00457D;
}
.sidebar ul li {
    width: 100%;
}
.sidebar.active{
    position: relative;
    width: 80px;
    transition:0.5s;
    justify-content: left;
    padding-left: 20px;
    overflow: hidden;
    left: 0px;
}
@media only screen and (max-width: 768px) {
    .sidebar.active{
        left: -80px;
    }
}
.sidebar ul li{
    position: relative;
}
.sidebar ul li .text{
    font-size: 16px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 14px;
    letter-spacing: 0.05 em;
    transition: 0.5s; 
}

.sidebar ul li:hover{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(191, 191, 191);
}
 .sidebar ul li.active{
    background-color: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
 .sidebar ul li.active::before{
    content:'';
    position:absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px black;
    background-color: transparent;
}
.sidebar ul li.active::after{
    content:'';
    position:absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px black;
    background-color: transparent;
}
.sidebar.active .logo img{
    width:50px;
    height:50px;

}
.sidebar.active .logo a{
    justify-content: start;
    align-items: start;
}


.sidebar.active .logo .profile-name{
    color: transparent;


}